<!DOCTYPE html>
<html>
<head>
    <title>Create Page</title>
</head>
<body>
    <h2>Create</h2>
    <ul>
        <li><a href="{% url 'create_member' %}">Create Member</a></li>
        <li><a href="{% url 'create_course' %}">Create Course</a></li>
        <li><a href="{% url 'create_group' %}">Create Group</a></li>
        <li><a href="{% url 'create_grade' %}">Create Grade</a></li>
        <li><a href="{% url 'create_assistance' %}">Create Assistance</a></li>
        <li><a href="{% url 'create_invite_request' %}">Create Invite Request</a></li>
    </ul>
</body>
</html>
