<!DOCTYPE html>
<html>
<head>
    <title>Members</title>
</head>
<body>
    <h2>Members</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>LinkedIn</th>
                <th>Is Admin</th>
                <th>Role</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Email</th>
                <th>Phones</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr>
                <td>{{ member.member_id }}</td>
                <td>{{ member.first_name }} {{ member.last_name }}</td>
                <td>{{ member.gender }}</td>
                <td>{{ member.linkedIn_addr }}</td>
                <td>{{ member.is_admin }}</td>
                <td>{{ member.role }}</td>
                <td>{{ member.created_at }}</td>
                <td>{{ member.updated_at }}</td>

                <td>{% for ema in emails %}
                    {% if ema.member == member %}
                        {{ ema.email }}
                    {% endif %}
                {% endfor %}</td>

                <td>{% for pho in phones %}
                    {% if pho.member == member %}
                    {{ pho.phone_type}}: {{ pho.phone}} </br>
                    {% endif %}
                {% endfor %}</td>

                <td>
                    <a href="{% url 'edit_member' member.pk %}">Edit</a>
                    <a href="{% url 'delete_member' member.pk %}">Delete</a>
                </td>

            </tr>

            {% endfor %}
        </tbody>
    </table>
    
    <ul>
        <li><a href="{% url 'create_member' %}">Add New Member</a></li>
        <li><a href="{% url 'lists' %}">Back to Lists</a></li>
    </ul>
</body>
</html>