<!DOCTYPE html>
<html>
<head>
    <title>Courses</title>
</head>
<body>
    <h2>Courses</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Unit</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.course_id }}</td>
                <td>{{ course.title }}</td>
                <td>{{ course.unit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>