<!DOCTYPE html>
<html>
<head>
    <title>Create</title>
</head>
<body>
    <h3>Please choose your Model</h3>
    <ul>
        <li><a href="{% url 'create_member' %}">Members</a></li>
        <li><a href="{% url 'create_course' %}">Courses</a></li>
        <!-- <li><a href="{% url 'groups' %}">Groups</a></li>
        <li><a href="{% url 'tas' %}">TAs</a></li>
        <li><a href="{% url 'professors' %}">Professors</a></li>
        <li><a href="{% url 'students' %}">Students</a></li>
        <li><a href="{% url 'assistances' %}">Assistances</a></li> -->
        
    </ul>
    <ul>
        <li><a href="{% url 'homepage' %}">Home Page</a></li>
    </ul>
</body>
</html>
