<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Delete Page</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Delete</h2>-->
<!--<ul>-->
<!--    {% if member_id %}-->
<!--    <li><a href="{% url 'delete_member' %}">Delete Member</a></li>-->
<!--    {% else %}-->
<!--    &lt;!&ndash; Handle the case where member_id is not available &ndash;&gt;-->
<!--    <li><p>No member selected for deletion.</p></li>-->
<!--    {% endif %}-->

<!--    {% if course_id %}-->
<!--    <li><a href="{% url 'delete_course' %}">Delete Course</a></li>-->
<!--    {% else %}-->
<!--    &lt;!&ndash; Handle the case where course_id is not available &ndash;&gt;-->
<!--    <li><p>No course selected for deletion.</p></li>-->
<!--    {% endif %}-->

<!--    {% if group_id %}-->
<!--    <li><a href="{% url 'delete_group' %}">Delete Group</a></li>-->
<!--    {% else %}-->
<!--    &lt;!&ndash; Handle the case where group_id is not available &ndash;&gt;-->
<!--    <li><p>No group selected for deletion.</p></li>-->
<!--    {% endif %}-->

<!--    {% if grade_id %}-->
<!--    <li><a href="{% url 'delete_grade' %}">Delete Grade</a></li>-->
<!--    {% else %}-->
<!--    &lt;!&ndash; Handle the case where grade_id is not available &ndash;&gt;-->
<!--    <li><p>No grade selected for deletion.</p></li>-->
<!--    {% endif %}-->

<!--    {% if assistance_id %}-->
<!--    <li><a href="{% url 'delete_assistance' %}">Delete Assistance</a></li>-->
<!--    {% else %}-->
<!--    &lt;!&ndash; Handle the case where assistance_id is not available &ndash;&gt;-->
<!--    <li><p>No assistance selected for deletion.</p></li>-->
<!--    {% endif %}-->

<!--    {% if invite_request_id %}-->
<!--    <li><a href="{% url 'delete_invite_request' %}">Delete Invite or request</a></li>-->
<!--    {% else %}-->
<!--    &lt;!&ndash; Handle the case where invite_request_id is not available &ndash;&gt;-->
<!--    <li><p>No invite or request selected for deletion.</p></li>-->
<!--    {% endif %}-->
<!--</ul>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html>
<head>
    <title>Delete Page</title>
</head>
<body>
    <h2>Delete Options</h2>
    <ul>
        {% for action, link in delete_links.items %}
            <li><a href="{{ link }}">{{ action|title }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>

