<!DOCTYPE html>
<html>
<head>
    <title>Edit Page</title>
</head>
<body>
    <h2>Edit</h2>
    <ul>
        <li><a href="{% url 'edit_member' %}">Edit Member</a></li>
        <li><a href="{% url 'edit_course' %}">Edit Course</a></li>
        <li><a href="{% url 'edit_group' %}">Edit Group</a></li>
        <li><a href="{% url 'edit_grade' %}">Edit Grade</a></li>
        <li><a href="{% url 'edit_assistance' %}">Edit Assistance</a></li>
        <li><a href="{% url 'edit_invite_request' %}">Edit Invite Request</a></li>
    </ul>
</body>
</html>
