<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
</head>
<body>
    <h2>Welcome to TAF</h2>
    <h3>Please choose your action</h3>
    <ul>
        <li><a href="{% url 'list_page' %}">Show Lists</a></li>
        <li><a href="{% url 'create_page' %}">Create new Record</a></li>
        <li><a href="{% url 'delete_page' %}">Delete</a></li>
        <li><a href="{% url 'edit_page' %}">Edit</a></li>
        <!-- Add links for Groups, Assistance, Grades, and Request Invites as needed -->
    </ul>
</body>
</html>
