<!DOCTYPE html>
<html>
<head>
    <title>Lists</title>
</head>
<body>
    <h3>Please choose your List</h3>
    <ul>
        <li><a href="{% url 'members' %}">Members</a></li>
        <li><a href="{% url 'courses' %}">Courses</a></li>
        <li><a href="{% url 'groups' %}">Groups</a></li>
        <li><a href="{% url 'tas' %}">TAs</a></li>
        <li><a href="{% url 'professors' %}">Professors</a></li>
        <li><a href="{% url 'students' %}">Students</a></li>
        <li><a href="{% url 'assistances' %}">Assistances</a></li>
        
        <!-- Add links for Groups, Assistance, Grades, and Request Invites as needed -->
    </ul>
    <ul>
        <li><a href="{% url 'homepage' %}">Home Page</a></li>
    </ul>
</body>
</html>
