<!DOCTYPE html>
<html>
<head>
    <title>Lists</title>
</head>
<body>
    <h3>Please choose your List</h3>
    <ul>
        <li><a href="{% url 'member_list' %}">Member List</a></li>
        <li><a href="{% url 'course_list' %}">Course List</a></li>
        <li><a href="{% url 'group_list' %}">Group List</a></li>
        <li><a href="{% url 'ta_list' %}">TA List</a></li>
        <li><a href="{% url 'professor_list' %}">Professor List</a></li>
        <li><a href="{% url 'student_list' %}">Student List</a></li>
        
        <!-- Add links for Groups, Assistance, Grades, and Request Invites as needed -->
    </ul>
    <ul>
        <li><a href="{% url 'homepage' %}">Home Page</a></li>
    </ul>
</body>
</html>
