<!DOCTYPE html>
<html>
<head>
    <title>Professors</title>
</head>
<body>
    <h2>Professors</h2>
    <table>
        <thead>
            <tr>
                <th>Member ID</th>
                <th>Name</th>
                <th>Research Field</th>
                <th>Rank</th>
            </tr>
        </thead>
        <tbody>
            {% for professor in professors %}
            <tr>
                <td>{{ professor.member.member_id }}</td>
                <td>{{ professor.member.first_name }} {{ professor.member.last_name }}</td>
                <td>{{ professor.research_field }}</td>
                <td>{{ professor.profRank }}</td>

                <td>
                    <a href="{% url 'edit_member' professor.member.pk %}">Edit</a>
                    <a href="{% url 'delete_member' professor.member.pk %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    

    <ul>
        <li><a href="{% url 'create_member' %}">Add New Member</a></li>
        <li><a href="{% url 'list_page' %}">Back to Lists</a></li>
    </ul>
</body>
</html>
