<!DOCTYPE html>
<html>
<head>
    <title>Students</title>
</head>
<body>
    <h2>Students</h2>
    <table>
        <thead>
            <tr>
                <th>Member ID</th>
                <th>Name</th>
                <th>GPA</th>
                <th>Major</th>
                <th>Entry Year</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.member.member_id }}</td>
                <td>{{ student.member.first_name }} {{ student.member.last_name }}</td>
                <td>{{ student.gpa }}</td>
                <td>{{ student.major }}</td>
                <td>{{ student.entry_year }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
