<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
</head>
<body>
    <h2>Record added successfully!</h2>
    <a href="{% url 'add_professor' %}">Add another professor</a><br>
    <a href="{% url 'add_course' %}">Add another course</a><br>
    <a href="{% url 'add_ta' %}">Add another TA</a><br>
    <a href="{% url 'add_student' %}">Add another student</a><br>

    <a href="{% url 'view_professors' %}">Show Professors</a><br>
    <a href="{% url 'view_courses' %}">Show Courses</a><br>
    <!-- <a href="{% url 'add_student' %}">Add another student</a><br>
    <a href="{% url 'add_student' %}">Add another student</a><br> -->
</body>
</html>
